
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    So far today you have earned @Math.Round(ViewBag.CurrentlyEarned,2).
<br/>
    <a href="/PayCalculator/Salary">Change salary details</a>
</body>
</html>
